<div class="tweet-box panel panel-default">
		<div class="panel-body">
			<div>
		    <%= link_to user_path(tweet.user) do %>
				<h4 class="font-weight-bold"><%= tweet.user.name %></h4>
			<% end %>

				<%= link_to tweet_path(tweet.id) do %>
					<p>
					    <%= tweet.body %>
					</p>
		    	<% end %>
			</div>
			<div>
				<%= tweet.created_at.strftime('%Y/%m/%d %H:%M') %>
			</div>
			<div>
	<%= link_to new_tweet_comment_path(tweet) do %>
		コメントする
	<% end %>
	<% if user_signed_in? and tweet.favored?(current_user) %>
		<%= link_to tweet_favorites_path(tweet), method: :delete do %>
			<div class="fa fa-heart" style="color: #f0a0a0;"></div>
		<% end %>
	<% else %>
		<%= link_to tweet_favorites_path(tweet), method: :post do %>
			<div class="fa fa-heart" style="color: #a0a0a0;"></div>
		<% end %>
	<% end %>
	<%= link_to favored_by_tweet_path(tweet) do %>
		<%= tweet.favored_users.count %>
	<% end %>

	</div>

		</div>
</div>
